<div style="width:330px;height:300px;">
	
<fieldset>
			<legend>Enter Your 10 Digit Mobile Number</legend>
			<div class="field">
				<?php echo $this->Session->flash();?>
			</div>
			<div class="field">
				<label for="userMobile" style=" display:block; float:left; width:94px; padding-top:10px;">Username</label><input type="text" id="userMobile" tabindex="1" style="width: 200px;" />
 			</div>
            <div class="field">				
				<label for="userPassword" style=" display:block; float:left; width:94px; padding-top:10px;">Password</label><input tabindex="2" type="password" id="userPassword" style="width: 200px;"  value="" onkeydown="javascript: signin(event,'retail')"/>
			</div>
			
			<div class="field">
              <label style=" display:block; float:left; width:94px;">&nbsp;</label>
              <div id="loginSignIn" style="margin-left:94px;"><input tabindex="3" type="image" value="Submit" src="/img/spacer.gif" class="otherSprite oSPos9" onclick="login('retail');"/>
	       		</div>
	       	</div>
	       	<div class="field">
               <label style=" display:block; float:left; width:94px;">&nbsp;</label><span id="UloginErrMessage" class="errMessage"></span> 
	       	</div>
                        <div class="field">
                                    <br/>
                                    <label>Forgot password?</label><br/>
                                   <a href="/users/reset">Click here</a>
                                   <label>to get new one</label>
                        </div>
                
            </fieldset>
		
</div>
                        
      <script>
if($('userMobile'))
	$('userMobile').focus();
</script>