<div>
    <?php echo $this->element('shop_upper_tabs',array('tob_tab' => 'support'));?>
    
    <div id="pageContent" style="min-height:500px;position:relative;">
    	<div class="loginCont">
                                    <?php echo $this->element('shop_side_support',array('side_tab' => 'limitDepartmentDetails'));?>
    		<div id="innerDiv" class="leftFloat">
                                                            <?php echo $this->element('limitDepartment'); ?>
                                                </div>
                                    <br class="clearLeft" />
                        </div>
    </div>
 </div>
<br class="clearRight" />