<div>
    <?php echo $this->element('shop_upper_tabs',array('tob_tab' => 'activity'));?>
    <div id="pageContent" style="min-height:500px;position:relative;">
    	<div class="loginCont">
    		<?php echo $this->element('shop_side_activities',array('side_tab' => 'pullbackApprove'));?>
    		<div id="innerDiv">
	  			<?php echo $this->element('shop_pulllback_approval',array()); ?> 
   		</div>
   		<br class="clearLeft" />
 	</div>    	
    </div>
 </div>
<br class="clearRight" />



    	