<div class="appDataCont appDataContClr1">
	<div class="rightFloat">
		<span style="padding-top: 2px;" class="leftFloat"><?php echo $comment['comments']['created']; ?></span>
	</div>
	<span><?php echo $comment['users']['name']; ?></span>
	<p class="appDataDesc"><?php echo $comment['comments']['comment']; ?></p>
</div>