<fieldset id="showhighlightfieldset" style="display: none;" data-toggle="collapse" data-target="#togglehigh" class="cursorpointer">
    <legend>Diff Highlights <span></span></legend>
            <div class="row collapse" id="togglehigh" >
                                    <div class="col-lg-12" style="margin-bottom: 14px;" id="showhighlightdiv">
                                    </div>
                        </div>
    </fieldset>    