<fieldset style="border:0px;margin:0px;width:1070px">
            <div class="appTitle">Limit Department</div>
                   
                    <div class="field" style="padding-top:10px;">
                        <div class="fieldDetail leftFloat" >
                            <div class="fieldLabel1 leftFloat"><label for="contactno">Contact number : </label></div>
                            <div class="fieldLabelSpace1">
                                <p>+91 773 814 4477 / +91 22 4293 2298</p>
                            </div>                     
                        </div>
                    </div>
            
                    <div class="field" style="padding-top:25px;">
                        <div class="fieldDetail leftFloat">
                             <div class="fieldLabel1 leftFloat"><label for="email">Email ID : </label></div>
                             <div class="fieldLabelSpace1">
                                <p>limits@pay1.in</p>
                             </div> 
                        </div>
                    </div>
</fieldset>