    <fieldset>

     
        <legend>Modem Sucess/Failure</legend>
        
           <div class="row">
            
               <div class="col-lg-12" style="margin-bottom: 14px;" id="modemwisesuccessfailurediv">
                  
                
               </div>
               
           </div>
    </fieldset>