 <table class="table table-bordered" border='0' cellpadding="2" cellspacing="5">
        <tr BGCOLOR="#DBEBD1">
       
        <td><a href="/monitor/smsIncomingMonitoring">SMS Incoming </a></td>
        <td><a href="/monitor/smsOutgoingMonitoring">SMS Outgoing</a></td> 
        <td><a href="/monitor/USSDMonitoring">USSD</a></td>
        
        </tr>
       
</table>