<div id="popUpDiv" class="popOutline" style="display:none">
 	<div class="popCont popContWidth">
 		<div>
			<div class="rightFloat popClose" style=""><a href="javascript:void(0);" onclick="closePopUp();">x</a></div>
			<div style="height:12px;">&nbsp;</div> 
			<div id="messagePopUpDiv">			
      
  			</div>
            <div class="clearBoth"></div>
  		</div>
  	</div>	
</div>