<div class="tabs">
  <ul id='navTabs'>
    <?php if($_SESSION['Auth']['User']['group_id'] == RETAILER) {?>
	<li class='<?php if($tob_tab == "home") echo "sel";?>'>
		<a href="/shops/view">Home</a>
	</li>
	<?php } ?>
	<?php if($_SESSION['Auth']['User']['group_id'] == ADMIN || $_SESSION['Auth']['User']['group_id'] == SUPER_DISTRIBUTOR || $_SESSION['Auth']['User']['group_id'] == DISTRIBUTOR || $_SESSION['Auth']['User']['group_id'] == RELATIONSHIP_MANAGER) {?>
		<?php if ($_SESSION['Auth']['User']['group_id'] == RELATIONSHIP_MANAGER) { ?>
			<li class='<?php if ($tob_tab == "activity") echo "sel"; ?>'>
				<a href="/shops/allDistributor">Activities</a>
			</li>
		<?php } else { ?>

			<li class='<?php if ($tob_tab == "activity") echo "sel"; ?>'>
				<a href="/shops/transfer">Activities</a>
			</li>

		<?php } ?>
	<li class='<?php if($tob_tab == "setting") echo "sel";?>'>
		<a href="/shops/changePassword">My Profile</a>
	</li>
	<li class='<?php if($tob_tab == "reports") echo "sel";?>'>
		<a href="/shops/mainReport">Reports</a>
	</li>
                        <?php if ($_SESSION['Auth']['User']['group_id'] == DISTRIBUTOR) { ?>
	<li class='<?php if($tob_tab == "support") echo "sel";?>'>
		<a href="/shops/bankDetails">Support</a>
	</li>
                        <?php } ?>
	<?php } else if($_SESSION['Auth']['User']['group_id'] == ACCOUNTS) {?>
	<li class='<?php if($tob_tab == "activity") echo "sel";?>'>
		<a href="/shops/limitTransfer">Activities</a>
	</li>
	
	<li class='<?php if($tob_tab == "setting") echo "sel";?>'>
		<a href="/shops/changePassword">My Profile</a>
	</li>
	
	<li class='<?php if($tob_tab == "setting") echo "sel";?>'>
		<a href="/shops/floatReport">Reports</a>
	</li>
	<!--<li class='<?php if($tob_tab == "reports") echo "sel";?>'>
		<a href="/shops/mainReport">Reports</a>
	</li>-->
	<?php } ?>
   </ul>
  <div class="clearLeft"></div>
</div>