<?php 
$typeId = $this->Session->read('Auth.User.group_id'); //.$info['name'];
$userType = "";
$shop = "";
if($typeId == RETAILER){       
        $shop = $info['shopname'];
        if( $this->Session->read('Auth.is_partner') == 'true' ){
            $userType = "API-Partner";
        }else{
            $userType = "Retailer";
        }
 }else if ($typeId == DISTRIBUTOR)
{ $shop = $info['company']; 
$userType = "Distributor";}
else if ($typeId == SUPER_DISTRIBUTOR)
{ $shop = isset($info['company'])?$info['company'] : "";
$userType = "Master Distributor"; }
else if ($typeId == RELATIONSHIP_MANAGER)
{ $shop = $info['name'];
$userType = "Relationship Manager"; }
else if ($typeId == ADMIN)
{ $shop = 'Pay1 Company';
$userType = "Admin"; }
?>
<div class="rightFloat">
	<div>
	<?php if ($this->Session->read('Auth.User')) { ?>
		<div class="headerLinks1">
			<div class="globalLinks strng rightFloat">
			 	<ul>
					<li style="border-right:0px; padding-right:15px !important;font-weight:normal;">Welcome  <?php if($userType != "API-Partner"){   echo "+91 ";  } ?><?php echo $this->Session->read('Auth.User.mobile'). " - <i>$shop</i> (<strong>$userType</strong>)";?>,</li>
			    	<li class="lastElement" style="padding-right:0px !important;margin-right:0px !important;"> <?php echo $this->Html->link(__('Logout', true), array('controller' => 'shops', 'action' => 'logout')); ?></li>
			  	</ul>
			</div> 	
		  	<br class="clearRight" />
		</div>
<!-- <br class="clearRight" /> -->
<?php if($userType == 'Admin' || $userType == 'Master Distributor' || $userType == 'Distributor') { ?>
<div id="UserBalance" class="globalLinks strng fntSz17" style="text-align:right; float:right; padding-top:50px;">
 Balance : <span><img class='rupee1' src='/img/rs.gif' align="absMiddle" style="margin-bottom:3px;"/></span><?php if(isset($info['balance']))echo sprintf('%.2f', $info['balance']);?>
</div>
	<?php } else { ?>
	
	
	<div id="UserBalance" class="globalLinks strng fntSz17" style="text-align:right; float:right; padding-top:50px;"> <a href='/shops/changePassword' target="_blank">Change Password</a></div>
	
	<?php }} ?>
	</div>
</div>