<a href="/shops/dropoutRetailerList">Dropped out retailers (Between last 5-10 days)</a><br/>
<a href="/shops/transactingRetailers">Highest Transaction retailers (Last day)</a><br/>

<a href="/chats/report">Chat Reports</a><br/>
<a href="/panels/retailerRegistrationReport">Automated Signed Up Retailers</a><br/>
<a href="/panels/getProcessTime">Process Time & Failure Report</a><br/>
<a href="/panels/inprocessReport">In-Process Report</a><br/>
<a href="/panels/inprocessReportMongo">In-Process Report by mongo</a><br/>