/* CSS FOR FONT  STARTS*/
@font-face{
	font-family:"openSans";
	src:url('../fonts/open-sans.ttf');
}
@font-face{
	font-family:'fontawesome';
	src:url('../fonts/fontawesome-webfont.ttf');
}

html body{
	font-family:"openSans";
}
/* CSS FOR FONT ENDS */

.navbar {
    background-color: white;
     box-shadow: 0 0 3px gray;
    margin-bottom: 0 !important;
}
/* CSS FOR CONTENT SECTION BEGINS */
.content{
	padding-top:30px;
	padding-bottom:30px
}
.heading{
	font-size:35px;
	text-align:center;
	margin-bottom:30px;
}
.black{
	color:black;
}
.white{
	color:white;
}
.red{
	color:#DF2C36;
}
.grey{
	color:gray;
}
.green_bg{
	background-color:#37A16F;
}
.red_bg{
	background-color:#FF6A66;
}

.yellow_bg{
	background-color:#F4A805;
}

.blue_bg{
	background-color:#01B0CD;
}

.light_grey_bg{
	background-color:#ECECEC;
}
.blue_bg_img{
	background-image:linear-gradient(-2deg,white 0%,white 15%,#01b0cd 15%,#01b0cd 85%,white 85%,white 100%);
	padding:80px 0px;
}

.red_bg_img{
	background-image:linear-gradient(-2deg,white 0%,white 15%,#ff6a66 15%,#ff6a66 85%,white 85%,white 100%);
	padding:80px 0px;
}

.no-padding{
	padding:0px;
}
.no-padding-top{
	padding-top:0px !important;
}
.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}
.icon-round{
	padding:30px 0px;
	border-radius:500px;
	display:table;
	margin:30px auto 10px;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.icon-round-border-red{
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #FF0101; 
	height: 50px;
	width: 50px;
	border-radius: 200px;
}

#its_fast{
	text-align:right;
	margin-bottom:50px;
	background-image:url('../images/icons/its_fastest_2.png');
	background-repeat: no-repeat;
	background-position: right center;
	padding-right:50px;
	background-size:contain;
}/*
#its_fast:before{
	margin-left:20px;
	background-image:url('../images/icons/its_fastest.png');
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #FF0101; 
	height: 50px;
	width: 50px;
	border-radius: 200px;
	background-size:35px 35px;
	content:'';
	display:inline-block;
	vertical-align:middle;
	float:right;
}
*/

/*************************************************************************Contact Page****************************************************/
#map-canvas{
	 min-height: 100px;
	 max-height:320px;
  	border:1px solid rgb(208, 205, 205);
  	width:100%;
}
.contact_page {
  background: rgba(0, 0, 0, 0) url("../images/background/Contactus.jpg") no-repeat ;
  height: 444px;
  background-size: cover;
  width:100%;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact_page1 img{
	min-height: 0px;
	margin:0px auto;
	width:100%;
	
}
button[disabled], html input[disabled] {
    cursor: not-allowed;
    background-color:#d1d1d1;
    color:inherit;
}
button disabled{
	background-color:gray !important;
}
#contact_navigation > .tabs{
	margin-left:0px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:12px;
}

#contact_navigation > ul > li {
    margin-bottom: 0px;
    padding-left: 0px;
    text-align: left;
}
#contact_navigation>ul>li>a{
	font-size:16px;
	color:#B6B6B6;
	text-decoration:none;
	outline: 0px;
	font-family: 'semibold';
}
.lightitalic{
	font-family: 'openSanslightitalic';


}
#contact_navigation>ul>li{
	margin-bottom:10px;
}
.contact_map{
	height:150px;
}
.contact_navigation>a{
	color:black !important;
	border-bottom:2px solid #BD9498;
}
.border-left1{
	border-left:1px solid rgb(208, 205, 205);
}
.border-right{
	border-right:2px solid rgb(208, 205, 205);
}
.border{
	border:1px solid rgb(208, 205, 205);
}
.border-none{
	border:0px;
}
.border-both{
	border-right:1px solid rgb(208, 205, 205);
	border-left:1px solid rgb(208, 205, 205);
   
}
.padding-both{
	padding:20px 10px 20px 0px;
	 
}
.padd_all{
	padding:12px;
}
.mind_array{
	min-height:150px;
	border:1px solid rgb(208, 205, 205);
	font-family: 'semibold';
	font-family: 'openSanslight';

}


.contact_input{
 	border-radius: 0;
 	border:1px solid #ccc !important;
}
.contact_form > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 0px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.btn-submit {
    background-color: rgb(142, 154, 166);
    border-radius: 0;
    color: #fff;
    margin-top: 10px;
    padding: 5px 20px;
}


/*************************************************************************Contact Page End css****************************************************/


/*************************************************************************Career css start****************************************************/


.heading_para{
	font-size:20px;
	
}
.career_page1 img {
	min-height:0px;
	width:100%;
	margin:0px auto;
}

#contact_navigation > .tabs > .active a {
    border-bottom: 2px solid #bd9498;
    color: black !important;
}




/*************************************************************************career Page End css****************************************************/

/*************************************************************************service css start****************************************************/

#accordian ul .active{
	font-weight:bold;
}
.service_page1 img{
	width:100%;
	margin:0px auto;
	display:block;
	margin-top:37px;
}
.heading_para{
	font-size:20px;
	
}
#service_navigation li.active ul {
	display: block;
}

#service_navigation ul{
	padding:3px;
	margin:0px 0px 0px 0px;
}
#service_navigation ul li{
	list-style:none;
	display:block;
	padding:4px 2px;
}
#service_navigation ul li a{
	font-size:20px;
	text-decoration: none;
	outline:0px;
	color:#000;
	text-transform: capitalize;
	font-family:'opensanslight';

}
#giftmap{
	height:160px;
	width:100%;
}
.gift1{
	margin:0px;
	padding:0px;
}
.getitnow{
	padding:10px;
	font-weight:bold;
	font-size:20px;
	outline:0px;
}

.gift{
	padding:0px;
}
.gift li {
	padding:0px 40% 0px 10px;
	line-height: 25px;
}

.gifthed{
	font-size:20px;
}
.gift_tel a{
	text-decoration: none;
	color:#000;
	font-size:20px;

}
.range_btn{
	
    cursor: pointer;
  border:0px;
  outline:0px;
  background-color:#fff;
  width:100%;
}
.gcoin{
	 font-family: "opensanslight";
    font-size: 20px;
    outline: 0 none;
    text-decoration: none;
    text-transform: capitalize;
}
.sicon{
	 font-size: 14px;	 
}
.left,.right{
	float:left;
}


.thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 2px;
    
    clear:both;
    transition: border 0.2s ease-in-out 0s;
}
.clear{clear:both;}

#service_navigation p{
	font-family:'opensanslight' !important;
	font-weight:100;
	font-size:20px;
	margin:0px;
	color:#000;
	text-transform: capitalize;
}

#service_navigation ul ul{
	display:none;
	margin-bottom:0px;
}
#service_navigation ul li ul li a{
	font-size:17px;
	text-decoration: none;
	outline:0px;
	color:#000;
	text-transform: capitalize;
	font-family:'opensanslight';

}
.bottom_bg{
	height:40px; width:100%; background-color:#e01e31; box-shadow:1px 1px 2px #000;position:relative;
}

.page_title{
	font-size:35px;
	text-decoration: none;
	outline:0px;
	color:#000;
	text-transform: capitalize;
	font-family:'opensanslight';
	margin-top:20px;

}
#service_navigation ul .active .mslide{
	font-weight:bold;
	font-family:'semibold';
}

#service_navigation li .active .mslide{
	font-weight:bold ;
	font-family:'semibold';
}
.service_panel{
	min-height:400px;
	border:1px solid #d1d1d1;
	padding:3px;
}
.caption{
	color:#d1d1d1;
}
#slider1{
	outline:0;
	cursor:pointer;
	border:0px;
	 height: 22px;
}
#rangeValue1{
	border-color: #959595;
    padding-left: 10px;
}
.p_icon{
background-color: #959595;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 21px;
    height: 26px;
    margin-top: 8px;
    padding-left: 3px;
    padding-top: 0;
    position: relative;
    right: 16px;
     cursor: pointer;
    width: 28px;
}
.mslide.legend{
	font-weight:bold;
}
.inner{
	padding-bottom:10px;
}
.p_detail{
	margin: 0px;
  padding: 0px;

  text-transform: capitalize;
  font-size: 14px;
  line-height: 19px;
}
.search-btn{
	padding: 5px 29px;
	margin-top:0px;
}
p.red_active{
	background-color:#e01e31;
}
 .jssorb05 {
        position: absolute;
    }
    .jssorb05 div, .jssorb05 div:hover{
        position: absolute;
        /* size of bullet elment */
        width: 16px;
        height: 16px;
        margin:0px 20px;
      /*  background: url(assets/images/icons/b05.png) no-repeat; */
      background-color:#fff;
      border:1px solid #000;
      margin:0px 20px;
      border-radius:50%;
        overflow: hidden;
        cursor: pointer;
       font-family: 'opensanslight';
    }
    div.av{background-color:#000;}

    .jssorb05 div { background-position: -7px -7px; }
    .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
    .jssorb05 .av { background-position: -67px -7px; }
    .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }


input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
@media(max-width: 990px){
	.border-right{
		border:0px;
	}
	.search-btn{
		margin-top:20px;
		display: block;
		text-transform: center;
		margin:10px auto;
	}
}
/*************************************************************************service Page End css****************************************************/





#you_can_pay{
	text-align:left;
	margin-bottom:50px;
	background-image:url('../images/icons/you_can_pay_2.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-right:50px;
	background-size:contain;
}/*
#you_can_pay:before{
	margin-right:20px;
	background-image:url('../images/icons/you_can_pay.png');
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #FF0101; 
	height: 50px;
	width: 50px;
	border-radius: 200px;
	background-size:35px 20px;
	content:'';
	display:inline-block;
	vertical-align:middle;
	float:left;
}*/

#each_rupee{
	text-align:right;
	margin-bottom:50px;
	background-image:url('../images/icons/each_rupee_ofrecharge_2.png');
	background-repeat: no-repeat;
	background-position: right center;
	padding-right:50px;
	background-size:contain;
}/*
#each_rupee:before{
	margin-left:20px;
	background-image:url('../images/icons/each_rupee_ofrecharge.png');
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #FF0101; 
	height: 50px;
	width: 50px;
	border-radius: 200px;
	background-size:35px;
	content:'';
	display:inline-block;
	vertical-align:text-top;
	float:right;
}
*/
.padding-40{
	padding-left:40px;
	padding-right:40px;
}
.padding-30{
	padding-left:30px;
	padding-right:30px;
}
.padding-50{
	padding-left:50px;
	padding-right:50px;
}

.get-started{
	color:#E01E31;
	background-color:white;
	padding:10px 40px;
	font-size:20px;
	border:1px solid #E01E31;
	border-radius:5px;
	margin:40px auto 40px;
	display:block;
	clear:both;
	margin-top: 37px;
  display: block;
  position: relative;
  top: 14px;
  bottom:20px;
}
.margin-top-30{
	margin-top:30px
}
.margin-top-50{
	margin-top:50px
}
.margin-top-10{
	margin-top:10px
}
.margin-top-20{
	margin-top:20px
}
.margin-bottom-55{
	margin-bottom:55px !important;
}
.margin-bottom-30{
	margin-bottom:30px;
}
dl dd{
	margin-bottom:10px;
}
.bg_black{
	background-color:black;
	border-radius:300px;
}

.see_offers{
	font-size:15px;
	color:black;
	text-decoration:none;
}
.see_offers:hover{
	font-size:15px;
	color:black;
	text-decoration:none;
}

.parent_pos{
	position:relative;
}

.parent_pos>img{
	width:100%;
}
.child_pos{
	position:absolute;
	width:100%;
	background-color:rgba(0,0,0,0.6);
	bottom:0;
}
.discount_item{
	padding:10px 0px;
}

ul{
	list-style-type:none;
}

.no-marg{
	margin-top:-20px !important;
}

.social{
	font-family:'fontawesome';
	display:inline;
	
}
.social i{
	color: #FFF;
	background-color: black;
	padding: 13px 15px;
	border-radius: 20px;
}


p{
	margin-bottom:20px;
}

.left{
	float:left;
	margin-right:20px;
}

.right{
	float:right;
	margin-left:20px;
}
.benefits{
	padding-bottom:50px;
}

.benefits p{
	display:table;
	font-size:20px;
}
.checklist li{
	background-image:url('../images/icons/list-style-type-check.png');
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:40px;
}

.info{
	font-size:25px;
	font-weight:50;
}

.heading2{
	font-size:28px;
}

/* CSS FOR MAP BEGINS*/

#map-canvas{
	width:100%;
	height:500px;
}

/* CSS FOR MAP ENDS */
/* CSS FOR BRAND SECTION STARTS*/
.brand_img img{
	display:block;
	margin:10px auto;
}
.round-border-grey img{
	border:2px solid #c7c7c7;
	border-radius:300px;
	
}

/* CSS FOR BRAND SECTION ENDS*/

/* CSS FOR CONTENT SECTION ENDS */