body {
	font-size: 12px !important;
}

.level2 {
	margin-left: 30px;
	cursor: pointer;
}

.apidiv {
	margin-left: 30px;
	cursor: pointer;
}

td.level1 {
	cursor: pointer
}

table {
	font-size: 12px !important;
}

.dropdown-menu {
	font-size: 12px !important;
}

.glyphicon-minus:before {
	margin-right: 4px;
}

.glyphicon-plus:before {
	margin-right: 4px;
}

.btn-group .active {
	border-color: #adadad;
	background-color: #5FBD5F;
	color: white;
}

.btn-default {
	text-shadow: 0 0px 0 #fff !important;
}