
.btn-filter {
  background-color: hsl(36, 100%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad32", endColorstr="#cc7a00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffad32), to(#cc7a00));
  background-image: -moz-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -ms-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffad32), color-stop(100%, #cc7a00));
  background-image: -webkit-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -o-linear-gradient(top, #ffad32, #cc7a00);
  background-image: linear-gradient(#ffad32, #cc7a00);
  border-color: #cc7a00 #cc7a00 hsl(36, 100%, 35%);
  color: white !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}
.btn-lightblue {
  background-color: hsl(193, 32%, 49%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8d3da", endColorstr="#5493a4");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b8d3da), to(#5493a4));
  background-image: -moz-linear-gradient(top, #b8d3da, #5493a4);
  background-image: -ms-linear-gradient(top, #b8d3da, #5493a4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b8d3da), color-stop(100%, #5493a4));
  background-image: -webkit-linear-gradient(top, #b8d3da, #5493a4);
  background-image: -o-linear-gradient(top, #b8d3da, #5493a4);
  background-image: linear-gradient(#b8d3da, #5493a4);
  border-color: #5493a4 #5493a4 hsl(193, 32%, 41.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49);
  -webkit-font-smoothing: antialiased;
}
.divblock
{
   // border: 1px solid black;
  height: 72px;
  width: 125px;
  margin: 12px 1px 15px 0px;
  -moz-box-shadow: 0 0 2px grey;
  -webkit-box-shadow: 0 0 2px grey;
   box-shadow: 0 0 2px grey;
}

.divblocklastsuccess
{
   // border: 1px solid black;
  height: 34px;
  width: 90px;
  margin: 2px;
  -moz-box-shadow: 0 0 2px grey;
    -webkit-box-shadow: 0 0 2px grey;
    box-shadow: 0 0 2px grey;
    font-size: 11px;
}

.divblockapi
{
   // border: 1px solid black;

    height: 56px;

    width: 98px;
/*  -moz-box-shadow: 0 0 2px grey;
    -webkit-box-shadow: 0 0 2px grey;*/
   // box-shadow: 0 0 2px grey;
      list-style: outside none none;
        padding-left: 0px;
            margin: 0;
}
.divblock ul.divblockul
{
      float: left;
    list-style: outside none none;
    margin-top: 10px;
    padding: 0;
    font-size: 11px;
}
.divblockmodemsuccessfailure ul.divblockul
{
      float: left;
    list-style: outside none none;
    margin-top: 10px;
    padding: 0;
    font-size: 11px;
}
.modem_view_table  tr td, .modem_view_table  tr th{
    text-align: right;
}

.modem_view_table tr td:first-child
{
      text-align: left;
}
.modem_view_table thead th:first-child
{
      text-align: left;
}   

.btn-download {
background-color: hsl(70, 11%, 23%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b7f66", endColorstr="#3e4134");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7b7f66), to(#3e4134));
  background-image: -moz-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -ms-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7b7f66), color-stop(100%, #3e4134));
  background-image: -webkit-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -o-linear-gradient(top, #7b7f66, #3e4134);
  background-image: linear-gradient(#7b7f66, #3e4134);
  border-color: #3e4134 #3e4134 hsl(70, 11%, 17.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}
.btn-showsims {
  background-color: hsl(214, 37%, 28%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a99c1", endColorstr="#2c4361");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7a99c1), to(#2c4361));
  background-image: -moz-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -ms-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a99c1), color-stop(100%, #2c4361));
  background-image: -webkit-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -o-linear-gradient(top, #7a99c1, #2c4361);
  background-image: linear-gradient(#7a99c1, #2c4361);
  border-color: #2c4361 #2c4361 hsl(214, 37%, 19.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
  -webkit-font-smoothing: antialiased;
}
.dropdown-menu
{
    text-align: left;
}
li.balance
{
    font-weight: bold;
    color: black;
}
a
{
    cursor: pointer;
}
.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th {background-color:#E0EBFF !important;}

.glyphicon-refresh-animate {
    -moz-animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.divblockmodemsuccessfailure
{
  box-shadow: 0 0 2px grey;
    height: 58px;
    margin: 10px -1px -8px 0;
    width: 92px;
}
.hl
{
    border: 1px solid grey;
    height: 18px;
    text-align: center;
    width: 90px;
    float: left;
    margin: 1px;
}
.cursorpointer
{
    cursor: pointer;

}