<div style="width:100%;text-align:center;background:#ff0000;font-size:1.5em"><strong><span style="color:#ffffff">Pay</span><span style="color:#000000">1</span></strong></div>
<h2><strong>Welcome <?php echo $_SESSION['salesman']['name']; ?>!!</strong></h2>
<a href="/salesmen/createRetailer" class="menu">Create Retailer</a><br/>
<a href="/salesmen/topup" class="menu">Top Up </a><br/>
<a href="/salesmen/collection" class="menu">Collection</a><br/>
<!--<a href="/salesmen/createRetailer">Reports</a><br/><br/>
<a href="/salesmen/createRetailer">Acquisition</a><br/><br/>
<a href="/salesmen/help">Help</a><br/> -->
<a href="/salesmen/retailerBalance" class="menu">Retailer Details</a><br/>
<a href="/salesmen/logout" class="menu">Logout</a>